
p{
  color:black;
}
h1{
   color:blue;
   text-decoration-style: solid;
   font-style: italic;
   text-align: center;
   margin-top: 2px;

}
body {
  background-repeat: no-repeat;
  background-size: cover;
}
