

body {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}

button[type] {
  font-size: 17px;
  width:15%;
  color:blue;

}


header, footer {
  padding: 1px;
  color: white;
  background-color:;
  clear: left;
  text-align: center;
}


nav ul a {
  text-decoration: none;
  color: white;
}

img{
  display: block;
   margin-left: auto;
   margin-right: auto;
   width: 30%;height:250px;
   margin-top: -15px;


}

h1 {
  color: black;
  text-align: center;
  font-style: oblique;
  text-decoration: inherit;
  font-size: 30px;
  font-weight: bold;
}

div.modal button {
  background-color: green;
  color: black;
  font-size: 10px;
}

div.class button {
  background-color: black;
  color: black;
}

div.modal-content {
  background-color: #f2f2f2;
  border-color: black;

}
a[button]{
  font-size: 17px;
  color: blue;
  width: 12%;

}
nav{
  background-color:blue;
}

input[placeholder]{

  font-style: italic;
  font-family:cursive;
  color: blue;
}
p{
  font-size: 2px;
  font-family: cursive;
  color: blue;

}
div.jumbotron{
  padding-top: -300px;
  border-color: blue;
  margin-bottom: 200px;
  opacity: 0.9;
}
div.suggestions{
width: 500px;

}
a[class=navbar-brand]{
  color:white;
  font-style: italic;
  text-decoration-style: dashed;;
}
